
.titre {
    font-size: 25px;
    color: black;
}

#countdown {
    border: rgba(49, 6, 241, 0.13) 2px solid;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 0.7);
    width: 270px;
    height: 270px;
    padding: 30px;
    margin: 10px;  /* en dessous du rond */
    font-size: 20px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}